mixin picture(data)
    picture
        each item in data
            source(media=item.media srcset=item.srcset)
        img(class='img' src=data.src srcset=data.srcset width=data.width height=data.height alt=data.alt)

mixin picture(data)
    picture
        each item in data.source
            source(media=item.media srcset=item.mediaSrcset)
        img(class='img' src=data.src srcset=data.srcset width=data.width height=data.height alt=data.alt)


+picture(
                            {
                                src: '%=static=%img/content/photo-wing-mobile@1x.jpg',
                                srcset: '%=static=%img/content/photo-wing-mobile@2x.jpg 2x',
                                source: [
                                      {

                                          media : '(min-width: 1024px)',
                                          mediaSrcset : '%=static=%img/content/photo-car-desktop@1x.jpg, %=static=%img/content/photo-car-desktop@2x.jpg 2x'
                                      },{
                                          media : '(min-width: 660px)',
                                          mediaSrcset : '%=static=%img/content/photo-car-tablet@1x.jpg, %=static=%img/content/photo-car-tablet@2x.jpg 2x'
                                      }
                                    ]
                            }
)

+picture([
            {
                src: '%=static=%img/content/photo-wing-mobile@1x.jpg',
                srcset: '%=static=%img/content/photo-wing-mobile@2x.jpg 2x',
                source: [
                            {

                                'media' : '(min-width: 1024px)',
                                'mediaSrcset' : '%=static=%img/content/photo-car-desktop@1x.jpg, %=static=%img/content/photo-car-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'mediaSrcset' : '%=static=%img/content/photo-car-tablet@1x.jpg, %=static=%img/content/photo-car-tablet@2x.jpg 2x'
                            }
                        ]
            },{
                src: '%=static=%img/content/photo-wing-mobile@1x.jpg',
                srcset: '%=static=%img/content/photo-wing-mobile@2x.jpg 2x',
                source: [
                        {

                            'media' : '(min-width: 1024px)',
                            'mediaSrcset' : '%=static=%img/content/photo-car-desktop@1x.jpg, %=static=%img/content/photo-car-desktop@2x.jpg 2x'
                        },{
                            'media' : '(min-width: 660px)',
                            'mediaSrcset' : '%=static=%img/content/photo-car-tablet@1x.jpg, %=static=%img/content/photo-car-tablet@2x.jpg 2x'
                        }
                    ]
            }
    ])


                        sourse: [
                            {
                                'media' : '(min-width: 1024px)',
                                'srcset' : '%=static=%img/content/photo-car-desktop@1x.jpg, %=static=%img/content/photo-car-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-car-tablet@1x.jpg, %=static=%img/content/photo-car-tablet@2x.jpg 2x'
                            }
                        ],

                        sourse: [
                            {
                                'media' : '(min-width: 1024px)',
                                'srcset' : '%=static=%img/content/photo-drumset-desktop@1x.jpg, %=static=%img/content/photo-drumset-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-drumset-tablet@1x.jpg, %=static=%img/content/photo-drumset-tablet@2x.jpg 2x'
                            }
                        ],

                        sourse: [
                            {
                                'media' : '(min-width: 1024px)',
                                'srcset' : '%=static=%img/content/photo-window-desktop@1x.jpg, %=static=%img/content/photo-window-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-window-tablet@1x.jpg, %=static=%img/content/photo-window-tablet@2x.jpg 2x'
                            }
                        ]
                    sourse: [
                        {
                            'media' : '(min-width: 1024px)',
                            'srcset' : '%=static=%img/content/photo-fair-desktop@1x.jpg, %=static=%img/content/photo-fair-desktop@2x.jpg 2x'
                        },{
                            'media' : '(min-width: 660px)',
                            'srcset' : '%=static=%img/content/photo-fair-tablet@1x.jpg, %=static=%img/content/photo-fair-tablet@2x.jpg 2x'
                        }
                    ],

                        sourse: [
                            {
                                'media' : '(min-width: 1024px)',
                                'srcset' : '%=static=%img/content/photo-pov-desktop@1x.jpg, %=static=%img/content/photo-pov-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-pov-tablet@1x.jpg, %=static=%img/content/photo-pov-tablet@2x.jpg 2x'
                            }
                        ],

                        sourse: [
                            {
                                'media' : '(min-width: 1024px)',
                                'srcset' : '%=static=%img/content/photo-wing-desktop@1x.jpg, %=static=%img/content/photo-wing-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-wing-tablet@1x.jpg, %=static=%img/content/photo-wing-tablet@2x.jpg 2x'
                            }
                        ]
