mixin picture(data)
    picture
        each item in data.source
            source(media=item.media srcset=item.srcset)
        img(class='img' src=data.src srcset=data.srcset width=data.width height=data.height alt=data.alt)

