mixin range(data)
    .range
        each range in data
            div(class=['range__item', range.name && 'range__item--' + range.name, range.active && 'range__item--is-active'], id=range.id)
                .range__bar
                .range__toggle.range__toggle--grey(id=range.toggleId)
            input.visually-hidden(id=range.rangeValue type="text" value=range.value name=range.name)
