include ../picture/picture.pug

mixin item-block(data)
    .item-block&attributes(attributes)
        picture
            each item in data.sourse
                source(media=item.media srcset=item.srcset)
            img(class='item-block__img' src=data.src srcset=data.srcset width=data.width height=data.height alt=data.alt)
        .item-block__text-wrap
            .item-block__author-wrap
                p.item-block__name #{data.name}
                    span.item-block__time #{data.time}
                p.item-block__text #{data.text}
            div.item-block__like-wrap
                span.item-block__like Нравится:
                    span.item-block__like-count #{data.count}
                button.item-block__like-btn(type='button' class=data.likeActive ? 'item-block__like-btn--active' : '')
