include ../picture/picture.pug

mixin item-block(data)
    .item-block&attributes(attributes)
        block
        .item-block__text-wrap
            .item-block__author-wrap
                p.item-block__name #{data.name}
                    span.item-block__time #{data.time}
                p.item-block__text #{data.text}
            div.item-block__like-wrap
                span.item-block__like Нравится:
                    span.item-block__like-count #{data.count}
                button.item-block__like-btn(type='button' class=data.likeActive ? 'item-block__like-btn--active' : '')
